
body {
  /* background-image: linear-gradient(to right, rgb(78, 84, 200), rgb(143, 148, 251)); */
  background-color: white;
}
.bg-linear {
  background: linear-gradient(to right, rgb(96,33,150), rgb(146, 141, 171));
}
.icon {
  fill: url(#my-cool-gradient) #447799;
}

.bg-blue {
  background-color: #2D33A3;
}
.bg-purple {
  background-color: #4E54C8;
}
